 body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: #fff;
      height: 3000px;
    }
	.slider {
      position relative;
      overflow hidden;
    }

    .slider__wrapper {
      display flex;
      transition transform 0.6s ease;
    }

    .slider__item {
      flex 0 0 25%;
      max-width 25%;
    }

    .slider__control {
      position absolute;
      top 50%;
      display flex;
      align-items center;
      justify-content center;
      width 40px;
      color #fff;
      text-align center;
      opacity 0.5;
      height 50px;
      transform translateY(-25%);
      background rgba(0, 0, 0, .5);
    }

    .slider__controlhover,
    .slider__controlfocus {
      color #fff;
      text-decoration none;
      outline 0;
      opacity .9;
    }

    .slider__control_left {
      left 0;
    }

    .slider__control_right {
      right 0;
    }

    .slider__controlbefore {
      content '';
      display inline-block;
      width 20px;
      height 20px;
      background transparent no-repeat center center;
      background-size 100% 100%;
    }

    .slider__control_leftbefore {
      background-image url(dataimagesvg+xml;charset=utf8,%3Csvg xmlns='httpwww.w3.org2000svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'%3E%3Csvg%3E);
    }

    .slider__control_rightbefore {
      background-image url(dataimagesvg+xml;charset=utf8,%3Csvg xmlns='httpwww.w3.org2000svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'%3E%3Csvg%3E);
    }

    .slider__itemdiv {
      line-height 250px;
      font-size 100px;
      text-align center;
    }
