{margin:0;padding:0}


   /* /*Calling Fonts*/
	
	@font-face{
		
		font-family:'OpenSans';
		src: url('font/OpenSans-Regular.eot') format('eot'),
		
		 
		   url('font/OpenSans-Regular.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-Light';
		src: url('font/OpenSans-Light.eot') format('eot'),
		 url('font/OpenSans-Light.woff') format('woff'),
		  url('font/OpenSans-Light.ttf') format('truetype'),
		   url('font/OpenSans-Light.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-Semibold';
		src: url('font/OpenSans-Semibold.eot') format('eot'),
		 url('font/OpenSans-Semibold.woff') format('woff'),
		  url('font/OpenSans-Semibold.ttf') format('truetype'),
		   url('font/OpenSans-Semibold.svg') format('svg');
		
	}
	
	@font-face{
		
		font-family:'OpenSans-ExtraBold';
		src: url('font/OpenSans-ExtraBold.eot') format('eot'),
		
		   url('font/OpenSans-ExtraBold.svg') format('svg');
		
	}
	
	
	
    /*Calling Fonts*/
	 .navbar ul li router-link{
        color: #f8f9fa;
        font-family: system-ui;
        font-weight: 400;
         }
	 
	.navbar ul li .router-link-active{
		color: white;background: #72c537;
		border-radius: 35px;
		padding-left: 20px;padding-right: 20px;
        font-family: system-ui;
        font-weight: 400;
		 }

         .navbar ul li .router-link-active: hover{
        color: white;
         }

    .categories ul li a{
        color: black;background: white;
        padding-left: 8px;padding-right: 8px;
        font-family: system-ui;
        font-weight: 500; font-size: 12px;
         }
 
	p{
		
		text-align:justify;
	}
h1 { font-family: revert; font-size: 36px; }



	
	a{
		display:block;
		text-decoration:none;
		padding:7px;	
	}
	
	
	body{
		font-family:arial;
	
	}
		
	.container{ max-width:1400px; }
	
	.main_menu ul li{
		
		padding-right: 50px;
		padding-left: 45px;
		}
		
		

		.searchbar input[type='text']{ 
		float:left;
		color:#F4F3EE;
		padding-left:5px;
		font: italic 12px/24px 'OpenSans';
		}
		
		.navy ul li a{ 
        text-decoration: none; 
        font-family: system-ui;
        font-weight: 400; color: #f8f9fa;}
	
		.fix{ overflow:hidden;}
		
	.home_bg{
    
}

.service_img{
	background: url(../images/service-bg.jpeg) no-repeat;
    background-size: 100% 530px;
    background-position: center center;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btnUp {
 border: 2px solid gray;
  color: black;
  background-color: yellow;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.btnUp2 {
  border: 2px solid gray;
  color: white;
  background-color: green;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
		
.title{color: black; font-family: system-ui;}
hr{color: #a7a3a3;}

.borderRed {border:2px solid #ee2f31;}

.searchListing {
    font-size: 15px;
    font-weight: 600;
    max-padding: 0 40px;
    margin-right: 1px;
    height: 40px;
    outline: none;
    background-color: #72c537;
    border-radius: 15px;
    border: none;
    color: white;
}

.searchBar{
border: 1px solid #cbcbcb;
border-radius: 35px;
}

.text{font-size: 19px;
    font-weight: 100;
    font-family: system-ui;
    color: #d9d3d3;
    line-height: 32px;}

    .border_dark{
    	border-bottom: 1px solid #ffffff38;
    }

    .bar{font-family: system-ui;}
    .bar: focus{outline: none; box-shadow: none;}
    

    .ibv3-content p, .footer_txt{
    font-family: system-ui;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    margin: 0 0 3px 0;
    }

    .icon-box-v3{
    	margin-top: 40px;
    }

    .navy ul li a: hover{
		color: white;background: #72c537;
		border-radius: 35px;
		padding-left: 20px;padding-right: 20px;
		}
		
		.listing h3,.listing h4,.listing p {font-family: revert;
    color: #727272;
}
.listing a{text-decoration: none;}


.buttonListing {
	width: 85%;
	margin: auto;
    font-size: 15px;
    font-weight: 600;
    padding: 0 40px;
    height: 50px;
    outline: none;
    background-color: #72c537;
    border-radius: 35px;
    border: none;
    text-color: black;
    text-decoration: none;
}
.buttonListing:hover {
    text-decoration: none;
}

.buttonEq {
	width: 85%;
	margin: auto;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    background-color: #72c537;
    border-radius: 35px;
    border: none;
    text-color: white;
}

.buttonEq2 {

    font-size: 12px;
    font-weight: 600;
    outline: none;
    background-color: #72c537;
    border: none;
    text-color: white;
}

.eq tr th{color: #72c537;}

.myaccount li a {font-family: sans-serif; font-weight: 400;}

.sidebar li a {font-family: system-ui; font-size: 15px; font-weight: 400;}

.sidebar li{list-style-type: none;}

.smalls{
    font-size: 11px;
    color: grey;
}

.stripePay{
    position: absolute;
    right: -2px;
    color: white;
    background: #72c537;}

    .loginBtn{
    	 background: #72c537;
    	 color: white;
    }

.convBtn{
    	 background-color: white;
    }

.placeH_done{
    background: #2f3a8f;
    color: white;
    font-weight: bold;
    padding-left: 6px;
}
		
.placeH{ font-weight: bold; color: aliceblue; background: #14a914; padding-left: 6px;}	
.placeH_inactive{
background: lightgray;
    color: white;
    font-weight: bold;
    padding-left: 6px;
}

.placeH::-webkit-input-placeholder {
          color: white;
          }

.btnUp3 {
  border: 1px solid black;
  color: white;
  background-color: #14a914;
  padding: 5px ;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}	


.btnUp4 {
  border: 1px solid black;
  color: white;
  background-color: lightgray;
  padding: 5px ;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}	

.btnUp_done {
  border: 1px solid black;
  color: white;
  background-color: #2f3a8f;
  padding: 5px ;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}   
		
/* Progess Bar */
.progressbar-wrapper {
      background: #fff;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 5px;
}

.progressbar li {
      list-style-type: none;
      width: 20%;
      float: left;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    content: "";
    line-height: 50px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 3px auto;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    background-color: #fff;
    font-weight: bold;
}
.progressbar li:after {
     width: 100%;
     height: 2px;
     content: '';
     position: absolute;
     background-color: #7d7d7d;
     top: 30px;
     left: -50%;
     z-index: 0;
}
.progressbar li:first-child:after {
     content: none;
}

.progressbar li.active {
    color: green;
    font-weight: bold;  
}
.progressbar li.active:before {
    border-color: #55b776;
    background: green;
 }
.progressbar li.active + li:after {
    background-color: #55b776;
}

.progressbar li.active:before {
    background: #14a914  url(user.svg) no-repeat center center;
    background-size: 60%;
}
.progressbar li::before {
    background: #fff url(user.svg) no-repeat center center;
    background-size: 60%;
}

.progressbar {
    counter-reset: step;
}
.progressbar li:before {
    content: counter(step);
    counter-increment: step; 
}
/* Progess Bar */
		
.cats ul li a{
    color: black;
}
		
		
		
		
		
		
		
		
		
		
		
		
		